* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.crown {
    background: #747;
    height: 30px;
    width: 100%;
    position: fixed;
}

.menu {
    background: #ff5;
    height: 100px;
    position: fixed;
    width: 100%;
    top: 30px;
    transition: top, height .3s linear;

}

.menu.sticky {
    height: 50px;
    top: -100px;
    position: sticky;
}

.menu.reveal {
    top: 0;
}

.after {
    background: #99ffaa;
}

