html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.cards {
    display: flex;
    flex-flow: row wrap;
}

.card {
    background: #bbb;
    width: 10rem;
    height: 10rem;
    flex: 1 0 10rem;
}

.card:nth-child(even) {
    background: #eee;
}